:443 {
	tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

	handle /realms/* {
		reverse_proxy keycloak:8080
	}
	handle /resources/* {
		reverse_proxy keycloak:8080
	}
	handle /js/* {
		reverse_proxy keycloak:8080
	}
	handle /admin/* {
		reverse_proxy keycloak:8080
	}
	handle {
		reverse_proxy helix-platform:8000
	}
}
